<div id = "main">
  <!-- 参加ユーザーの一覧 -->
  <h2>参加ユーザ一覧</h2>
  <div class="contents row" >
    <ul>
     <%= render partial: "group_members", collection: @group_members %>
    </ul>
  </div>


  <!-- 習慣カレンダーの表示 -->
  <h2>カレンダー</h2>
  <div id = "calendar">
  </div>

  <!-- チャット or コメント欄の表示
  <h2>チャット機能</h2>
  <%= form_tag('/groups/pushercreate', remote: true) do %>
    <%= text_field_tag 'message' %>
    <%= submit_tag 'send', data: { disable_with: "送信中..." } %>
  <% end %>

  <div id='messagelog'></div>
-->
<!--
  <% if Continue.exists?(:user_id => current_user.id, :group_id => @group_id) %>
    <button type="submit" disabled="disabled">実施済み</button>
  <% else %>
    <button type="submit" class = "mark_calendar">習慣の実施</button onclick = <%= check_habit(current_user.id, @group_id) %>>
  <% end %> -->

 <button type="submit" class = "mark_calendar button">習慣の実施</button onclick = <%= check_habit(current_user.id, @group_id) %>>

  <%= link_to '一覧に戻る', "/users/#{current_user.id}", class: 'return_button button' %>

<!-- カレンダーへの色つけJS -->
  <script type="text/javascript">

  if (window.name != "xyz")
  {
    location.reload();
    window.name = "xyz";
  }

  $(document).ready(function() {
      $('#calendar').fullCalendar({
      })
        // 空のdivを宣言
        var nil_div = $('<div class>').text("　")

        // ボタンを押すと実行される
        $(".mark_calendar").click(function(){
          var newdiv = $('<div class = "newdiv">').text("did habit!!");
          // 空のdivを追加
          $('.fc-day.fc-widget-content.fc-today').append(nil_div);
          // 目的のdivを追加
          $('.fc-day.fc-widget-content.fc-today').append(newdiv);
          // 目的のdivの色を指定
          $('.newdiv').css("background", gon.color_array[gon.user_color_index]);

          // ボタンの操作無効化
          $(".mark_calendar").prop("disabled", true);
          $(".mark_calendar").text("pushed");
        });
  });

  </script>
</div>