<div id = "main">
  <!-- 参加ユーザーの一覧 -->
  <h2>参加ユーザ一覧</h2>
  <div class="contents row" >
    <%= render partial: "group_members", collection: @group_members %>
  </div>


  <!-- 習慣カレンダーの表示 -->
  <h2>カレンダー</h2>
  <div id = "calendar">
  </div>

  <!-- チャット or コメント欄の表示
  <h2>チャット機能</h2>
  <%= form_tag('/groups/pushercreate', remote: true) do %>
    <%= text_field_tag 'message' %>
    <%= submit_tag 'send', data: { disable_with: "送信中..." } %>
  <% end %>

  <div id='messagelog'></div>
-->
<!--
  <% if Continue.exists?(:user_id => current_user.id, :group_id => @group_id) %>
    <button type="submit" disabled="disabled">実施済み</button>
  <% else %>
    <button type="submit" class = "mark_calendar">習慣の実施</button onclick = <%= check_habit(current_user.id, @group_id) %>>
  <% end %> -->

 <button type="submit" class = "mark_calendar">習慣の実施</button onclick = <%= check_habit(current_user.id, @group_id) %>>

<!-- カレンダーへの色つけJS -->
  <script type="text/javascript">

  if (window.name != "xyz")
  {
    location.reload();
    window.name = "xyz";
  }

  $(document).ready(function() {
      $('#calendar').fullCalendar({
      })

      $(".mark_calendar").click(function(){
        var newdiv = $('<li class = "newdiv">').text("did habit!!");
        $('.fc-day.fc-widget-content.fc-today').append(newdiv);
        $('.newdiv').css("background", gon.color_array[gon.user_color_index]);

        $(".mark_calendar").prop("disabled", true);
        $(".mark_calendar").text("pushed");
      });
  });

  </script>
</div>